.dice{
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 12%;
  margin: 5%;
  padding: 5%;
  height: 50%;
  width: 25%;
  font-size: 2em;
  box-shadow: 7px 7px 5px silver;
  background-color: black;
}

.homepage{
  background-image: url('https://images.pexels.com/photos/122427/roll-the-dice-craps-board-game-points-122427.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-repeat: no-repeat;
  font-family:serif;

}
.opacity{
  text-align: center;
  font-size: 2em;
  color: white;
}
.large{
  font-size: 3em;
  color: black;
  font-family:'Playfair Display SC', serif;
  opacity: 0.7;
  box-shadow: 4px 4px 5px silver;
  background-color: silver;
}
body{
  font-family: 'Major Mono Display', serif;
}
.jumbotron{
  background-image: linear-gradient(to left bottom, #161016, #3c3d56, #3f78a0, #00badb, #11fff5);
}
#main{
  font-size: 1.6em;
  display: none;
}
.right{
  background-image: linear-gradient(to left bottom, #11fff5, #00badb, #3f78a0, #3c3d56, #161016);
  color: black;
  border: 2px solid silver;
  box-shadow: 4px 4px 5px solid gray;

}
.left{
  background-image: linear-gradient(to right top, #11fff5, #00badb, #3f78a0, #3c3d56, #161016);
  color: black;
  border: 2px solid silver;
  box-shadow: -4px -4px 5px solid gray;
}
#colors{
background-image: linear-gradient(to left bottom, #161016, #3c3d56, #3f78a0, #00badb, #11fff5);
}
#winMessage{
  font-size: 2em;
  font-family: 'Pacifico', serif;
  text-align: center;
}
#gameResults{
  display: none;
}
